<%- layout('./layout/template') %>
    <section class="home" id="home">
        <div class="row">
            <div class="col-2">
                <h3 align="center">Giải quyết cơn đói của bạn một cách <span>nhanh chóng!</span></h3>
                <p>Không cần đi đâu xa cũng có thể thưởng thức hamburger và
                    nhâm nhi gà rán cùng gia đình ngay tại nhà trong mùa dịch.
                    Còn chần chờ gì mà không đặt hàng ngay!!!</p>
                <a href="/products" class="btn"><strong>Order now &#10132;</strong></a>
            </div>
            <div class="col-2">
                <img src="/img/home-img.png">
            </div>
        </div>
    </section>
    <section class="speciality" id="speciality">
        <h1 class="heading"><span>Menu</span></h1>
        <div class="box-container">
            <div class="box">
                <img class="image" src="img/s-img-1.jpg" alt="">
                <div class="content">
                    <img src="img/hamburger.png" width="50px" height="50px" alt="hamburger icon">
                    <h3>Burger</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="img/s-img-2.jpg" alt="">
                <div class="content">
                    <img src="img/pizza.png" width="50px" height="50px" alt="pizza icon">
                    <h3>Pizza</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="img/s-img-3.jpg" alt="">
                <div class="content">
                    <img src="img/-ice-cream_89753.png" width="55px" height="55px" alt="icecream icon">
                    <h3>Kem</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="img/g-6.jpg" alt="">
                <div class="content">
                    <img src="img/fried-chicken.png" width="50px" height="50px" alt="chicken icon">
                    <h3>Gà rán</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="img/s-img-4.jpg" alt="">
                <div class="content">
                    <img src="img/soda.png" width="50px" height="50px" alt="soda icon">
                    <h3>Nước</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="img/s-img-5.jpg" alt="">
                <div class="content">
                    <img src="img/cupcake.png" width="50px" height="50px" alt="cupcake icon">
                    <h3>Bánh</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section class="popular" id="popular">
        <h1 class="heading"><span>phổ biến</span></h1>
        <div class="box-container">
            <% for (let product of products) { %>
                <div class="box">
                    <span class="price">
                        <%= product.price.toLocaleString('it-IT', {style : 'currency' , currency : 'VND' })%>
                    </span>
                    <a href="/product/<%= product.slug %>" alt="<%= product.name %>">
                        <img src="<%= product.images[0].url %> " alt="<%= product.images[0].fileName %>">
                    </a>
                    <h3>
                        <%= product.name %>
                    </h3>
                    <div class="starts">
                        <% for(let i=0; i<product.rating; i++) { %>
                            <i class="fas fa-star"></i>
                            <% } %>
                    </div>
                    <button class="btn addCart" onclick=" addCart('<%= product.id%>')">đặt hàng ngay</button>
                </div>
                <% } %>
        </div>
    </section>
    
    <h1 class="heading"><span>Đánh giá</span></h1>

    <section class="rate-us" id="rate-us">
        <div class="sliderHome">
            <div class="slideHome active">
                <img class="background" src="img/background-slide1.png">
                <div class="content">
                    <img class="avatar" src="img/avatar1.jpg">
                    <div class="text">
                        <h2>Nguyễn Văn A</h2><br>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Quán nhiệt tình, giao hàng nhanh, đóng gói cẩn thận. Món giao tới vẫn còn nóng, giữ được độ
                            ngon.</p>
                    </div>
                </div>
            </div>
            <div class="slideHome">
                <img class="background" src="img/background-slide1.png">
                <div class="content">
                    <img class="avatar" src="img/avatar2.jpg">
                    <div class="text">
                        <h2>Trần Yến B</h2><br>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Nhân viên rất nhiệt tình, giao hàng nhanh chóng. Hỗ trợ khách hàng cũng rất tốt. Rất xứng
                            đáng 5 sao.</p>
                    </div>
                </div>
            </div>
            <div class="slideHome">
                <img class="background" src="img/background-slide1.png">
                <div class="content">
                    <img class="avatar" src="img/avatar3.jpg">
                    <div class="text">
                        <h2>Phạm Anh C</h2><br>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Đồ ăn rất ngon, giá cũng hợp lí. Giao hàng nhanh với chăm sóc khách hàng rất tốt. Sẽ ủng hộ
                            nhiều.</p>
                    </div>
                </div>
            </div>
            <div class="slideHome">
                <img class="background" src="img/background-slide1.png">
                <div class="content">
                    <img class="avatar" src="img/avatar4.jpg">
                    <div class="text">
                        <h2>Lê Minh D</h2><br>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Quán nhiệt tình, giao hàng nhanh, đóng gói cẩn thận. Món giao tới vẫn còn nóng, giữ được độ
                            ngon.</p>
                    </div>
                </div>
            </div>
            <div class="slideHome">
                <img class="background" src="img/background-slide1.png">
                <div class="content">
                    <img class="avatar" src="img/avatar5.jpg">
                    <div class="text">
                        <h2>Hà Quý E</h2><br>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Nhân viên rất nhiệt tình, giao hàng nhanh chóng. Hỗ trợ khách hàng cũng rất tốt. Rất xứng
                            đáng 5 sao.</p>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <i class="fas fa-chevron-left prev-btnHome"></i>
                <i class="fas fa-chevron-right next-btnHome"></i>
            </div>
            <div class="navigation-visibility">
                <div class="slide-iconHome active"></div>
                <div class="slide-iconHome"></div>
                <div class="slide-iconHome"></div>
                <div class="slide-iconHome"></div>
                <div class="slide-iconHome"></div>
            </div>
        </div>
    </section>
    <h1 class="heading"><span>Về chúng tôi</span></h1>
    <section class="about-us" id="about-us">
        <img src="img/about-us.jpg">
        <div class="text-abt-us">
            <h2>FastFood Shop</h2>
            <br>
            <p> FastFood Shop được thành lập tháng vào 8 năm 2021, bởi <strong>Nhóm 2</strong>.
            </p>
            <br>
            <p>
                Ảnh hưởng của đại dịch COVID-19, chúng tôi đã phải thay đổi hình thức kinh doanh của FastFood Shop, từ
                offline sang <strong>online</strong>. Giữa đại dịch nguy hiểm, bạn vẫn có thể
                thưởng thức những món ăn ngon của FastFood Shop. Chỉ cần truy cập vào website của FastFood Shop, chọn
                những món bạn yêu thích, chỉ cần đợi trong giây lát,
                và thế là bạn đã có thể thưởng thức các món ngon một cách ngon miệng và <strong>an toàn</strong> trong
                mùa dịch này.
            </p>
        </div>
    </section>
    <section class="steps">
        <div class="box">
            <img src="img/step-1.jpg" alt="">
            <h3>Lựa chọn đồ ăn bạn yêu thích</h3>
        </div>
        <div class="box">
            <img src="img/step-2.jpg" alt="">
            <h3>Giao hàng nhanh chóng và miễn phí</h3>
        </div>
        <div class="box">
            <img src="img/step-3.jpg" alt="">
            <h3>Thanh toán tiện lợi</h3>
        </div>
        <div class="box">
            <img src="img/step-4.jpg" alt="">
            <h3>Thưởng thức đồ ăn ngon miệng</h3>
        </div>
    </section>
    <div id="cart">

    </div>