<%- layout('./layout/template') %>
<link rel="stylesheet" type="text/css" href="/css/productDetail.css" />
<div class="product-page">
  <div class="product-container">
    <div class="field-back">
      <a href="/products"
        ><button class="btn-back" title="Quay lại">← Quay lại</button></a
      >
    </div>
    <div class="product-category-detail">
      <div class="field-img">
        <div class="item">
          <img id="main-img" src="<%= product.images[0].url %>" alt="<%= product.slug %>" />
        </div>
        <p class="thumbBar">
          <% for (let img of product.images) {%> 
          <img src="<%= img.url %>" alt="<%= product.slug %>" />
          <% } %> 
        </p>
      </div>
      <div class="field-content">
        <div class="field-breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/products">Menu</a></li>
            <li><%= product.name %> </li>
          </ul>
        </div>
        <h2 style="margin-top:16px"><%= product.name %></h2>
        <div class="field-price">
          <span><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price) %> </span>
        </div>
        <div class="field-note">
          <div class="field-text">
            <p><%= product.description %></p>
          </div>
        </div>
        <button class="add-bt" onclick="addCart('<%= product.id%>')">
          Thêm vào giỏ hàng
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  //Change Images
  const thumbBar = document.querySelector('.thumbBar')
  const mainImg = document.querySelector('#main-img')
  thumbBar.addEventListener('click', function (e) {
    mainImg.src = e.target.src;
  })
  //Change text description
  const fieldText = document.querySelector('.field-text p');
  const description = document.querySelector('.field-text p').textContent;
  fieldText.innerHTML = description.replace(/%d/g, '<br> <br>')
</script>

