<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/adminDashboard.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>My Admin Page</h1>
    <h2><span>Danh sách sản phẩm</span></h2>
    <a href="/admin/createProduct"><button class="add" >Thêm sản phẩm mới</button></a><br>
    <a href="/admin/chart"><button class="add" >Thống kê</button></a><br>
    <a href="/admin/order"><button class="add" >Đơn đặt hàng</button></a>
    <section class="product-table">
      <table>
        <tr>
          <th>STT</th>
          <th>Tên Sản Phẩm</th>
          <th>Giá (đ)</th>
          <th>Mô tả</th>
          <th>Hình ảnh</th>
          <th>Thao tác</th>
        </tr>
        <% let count = 1 %> 
        <% for (let product of products) { %>
            <tr>
                <td><%= count %> </td>
                <td><%= product.name %></td>
                <td><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price) %></td>
                <td><%= product.description.split('.')[0] %></td>
                <td>
                    <img src="<%= product.images[0].url %>" width="100%"/>
                </td>
                <td class="button">
                    <button class="update">
                    <a href="/admin/updateProduct/<%= product.id %>">Update</a>
                    </button>
                </td>
            </tr>
            <% count++ %> 
        <% } %>
       </table>
    </section>
  </body>
</html>
