<header class="header">
    <a href="/home" class="logo"><i class="fas fa-utensils"></i> FastFood </a>
    <nav class="navbar">
        <a href="/home">Trang chủ</a>
        <a href="/products">Đồ ăn</a>
        <a href="#popular" class="scroll" data-section = "popular">Phổ biến</a>
        <a href="aboutus"  class="scroll" data-section="about-us">Về chúng tôi</a>
        <a href="#contact" class="scroll" data-section="contact">Liên hệ</a>
        <a href="#rate-us" class="scroll" data-section="rate-us">Đánh giá</a>
    </nav>
    <div id="menu-bar" class="fas fa-bars"></div>
    <% if (user !== null) { %> 
        <div class="icons">
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
        </div>
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                <img src="/img/user.png">
            </div>
            <div class="list">
                <h3><%= user.username%> <br><span><%= user.role%></span></h3>
                <ul>
                    <li><img src="/img/profile.png"><a href="#">Thông tin</a></li>
                    <li><img src="/img/question.png"><a href="#">Hỏi đáp</a></li>
                    <li><img src="/img/settings.png"><a href="#">Cài đặt</a></li>
                    <li class="btn-logout"><img src="/img/log-out.png"><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    <% } else { %>
        <div class="icons">
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <a href="/signup"><div class="fas fa-user" id="login-btn"></div></a>
        </div>
    <% } %>   
    <div id="cart">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Giỏ Hàng</h5>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="cart-row">
                        <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                        <span class="cart-price cart-header cart-column">Giá</span>
                        <span class="cart-quantity cart-header cart-column">Số Lượng</span>
                        <span class="cart-price cart-header cart-column">Tổng Giá</span>
                        <span class="cart-price cart-header cart-column">Xóa</span>
                    </div>
                    <div class="cart-items">
                        <% if (cart !== null) { %> 
                            <% for (product of cart.listProduct) { %> 
                                <div class="cart-row">
                                    <div class="cart-item cart-column">
                                        <img class="cart-item-image" src="<%= product.info.images[0].url %>" alt="<%= product.name %>" width="100" height="100">
                                        <span class="cart-item-title"><%= product.name %> </span>
                                    </div>
                                    <span class="cart-price cart-column"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.info.price) %> </span>
                                    <div class="cart-quantity cart-column">
                                        <input class="cart-quantity-input" type="number" id="<%= product.id %>" value="<%= product.qty %>" onchange="changeQtyItems(this)" >
                                    </div>
                                    <span class="cart-price cart-column"><%= product.price %> </span>
                                    <button class="btn btn-danger " onclick="deleteItems('<%= product.id %>')" type="button">Xóa</button>
                                </div>
                            <% } %> 
                            <div class="cart-total">
                                <strong class="cart-total-title">Tổng Cộng:</strong>
                                <span class="cart-total-price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(cart.totalPrice) %> </span><br>
                                <strong class="cart-total-title">Tổng số lượng:</strong>
                                <span class="cart-total-price"><%= cart.totalQuantity %> </span>
                            </div>
                        <% } else { %> 
                            <div class="cart-total">
                                <strong class="cart-total-title">Tổng Cộng:</strong>
                                <span class="cart-total-price">0 </span><br>
                                <strong class="cart-total-title">Tổng số lượng:</strong>
                                <span class="cart-total-price">0</span>
                            </div>
                        <% } %> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close-footer">Đóng</button>
                    <a href="/checkout"><button type="button" class="btn order">Đặt Hàng</button></a>
                </div>
            </div>
        </div>
    </div>
</header>